$orange : #FA9E28;
$blue :  #184274;
$white: #FFFFFF;
$black:#222;
$text-color: #2F2E41;
$theme-color: #394759;

// $black: #FFFFFF;
$black--two: #FFFFFF;
$white: #fff;
$grey: #7e7e7e;
$grey--seven: #777777;
$grey--eight: #d0d0d0;
$theme-color--default: $black;
$transition--default: all 0.3s;
